lib/
3rd/QScintilla_src-2.12.1/src/.qmake.stash
3rd/QScintilla_src-2.12.1/src/Makefile.qscintilla
3rd/QScintilla_src-2.12.1/src/Makefile.qscintilla.Debug
3rd/QScintilla_src-2.12.1/src/Makefile.qscintilla.Release
build-NodeStudio-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/.qmake.stash
build-NodeStudio-Desktop_Qt_6_1_0_MSVC2019_64bit-Debug/Makefile
NodeStudio/NodeStudio.pro.user
.vs/
application/debug
application/release
NodeStudio/debug/
